PRIVATE_KEY= 0x  +   your private key
PUBLIC_ADDRESS= the public address of the account you have put the private key
DEADLINE_FOR_TRANSACTION=how long can the permit be allowed
VALUE_FOR_PERMIT=value to be specified for permit function
ALCHEMY_API_KEY=your alchemy key